html {
  height: 100%;
}
h1{
    font-size: 50px;
}
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
#main {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}
#error-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
#login-error{
  width: 23%;
  text-align: center;
  padding: 2%;
  font-size: 13px;
  font-weight: bold;
  color: rgba(131, 6, 6, 0.696);
  border: 1px solid rgba(131, 6, 6, 0.696);
  opacity: 0;
}
#login_error {
  display: block;
}
#login-form {
  align-self: flex-start;
  display: grid;
  line-height: 70%;
  margin-bottom: 20%;
}

.login-form-field::placeholder {
  color: #3f3f3f;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10%;
  border-radius: 3px;
  outline: none;
}
#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  outline: none;
}